.content-area{
	width: 100%;
}

.section-content{
	width: 100%;
	margin: auto;
	padding:  0px 0px 50px 0px;
	font-size: 16px;
}

.section-title{
	padding: 30px 15px 20px 15px;
	/*background-color: #0DB2B0;*/
}


h1{
	font-weight: 600;
	font-size: 25px;
	text-align: center;
	margin: 0;
	color: #004AAB;
}



#front-eportfolio .section-content{
	color: #666;

}


#front-getting-started{
	background-color: #fff;
}


#front-getting-started h1{

}

#front-getting-started .section-content{
	color: #000;
}


#front-why{
	background-color: #424242;
	color: #fff;
	background-color: #F3F3F3;
}


#front-why h1{
	color: #004AAB;
}

#front-why .section-content{
	color: #000;
}

#front-about h1{
	color: #bad80a;
}

@media screen and (min-width: 1024px){
	

	.section-content{
		width: 1000px;
	}
	.section-title{
		padding: 50px 15px 50px 15px;
	/*background-color: #0DB2B0;*/
	}
}


@media screen and (min-width: 1400px) {
	

	.section-content{
		/*width: 1300px;*/
	}




}


@media screen and (min-width: 1800px) {
	
	.section-content{
		/*width: 1700px;*/
	}
	
	
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation li a.active-menu{
	color: #FFFC00;
}