.content-area{
	width: 100%;
}

.section-content{
	width: 100%;
	margin: auto;
	padding:  0px 0px 50px 0px;
	font-size: 16px;
}

.section-title{
	padding: 30px 15px 20px 15px;
	/*background-color: #0DB2B0;*/
}

.title-box .site-title a{
    text-align: center;
    font-weight: 500;
}


h1{
	font-weight: 300;
	font-size: 30px;
	text-align: center;
	margin: 0;

}

.section-icon{
	text-align: center;
	padding-top: 40px;
}

.section-icon img{
	width: 80px;
	
}

#front-eportfolio .section-content{
	color: #666;

}
 #front-eportfolio h1{
	 color: #686868;
 }

#front-getting-started{
	background-color: #fff;
	
	/*background: linear-gradient(to bottom, #041b4a 0, #0088cb 100%);	*/
}


#front-getting-started h1{
	 color: #686868;
}

#front-getting-started .section-content{
	color: #666;
}

#front-getting-started .section-content .btn-info{
	background-color: #bc1717;
	border-color: #bc1717;
}


#front-why{
	color: #fff;
	background-color: #F1F1F1;
}


#front-why h1{
	 color: #686868;
}

#front-why .section-content{
	color: #000;
}

#front-how{

}

#front-how h1{
	 color: #686868;
}

#front-steps{
	background-color: #3259AB;
	background: linear-gradient(to bottom, #3259AB 0, #1E4071 100%);	
}

#front-steps h1{
	 color: #686868;
	 color: #fff;
}

#front-about h1{
	 color: #686868;
}

#front-resources{
	background-color: #F1F1F1;
}



#front-steps .steps{
	text-align: center;
}

#front-steps .col{
	margin-top: 15px;
	margin-bottom: 35px;
}

#front-steps .steps .col-title{
	font-size: 20px;
	color: #686868;
	margin-bottom: 10px;
	color: #fff;	
	font-weight: 500;
}

#front-steps .steps .col-text{
	color: #E2E2E2;
}

#front-steps .steps .col-image{
	margin-bottom: 15px;
}


#front-steps .steps .col-image img{
	width: 50px;
}


@media screen and (min-width: 768px){
	
	#front-steps .col{
		margin-top: 5px;
		margin-bottom: 15px;
	}	
	
	h1{
		font-size: 40px;
	}
		
}


@media screen and (min-width: 1024px){
	

	.section-content{
		width: 1000px;
	}
	.section-title{
		padding: 30px 15px 50px 15px;
	/*background-color: #0DB2B0;*/
	}
}


@media screen and (min-width: 1400px) {
	

	.section-content{
		/*width: 1300px;*/
	}




}


@media screen and (min-width: 1800px) {
	
	.section-content{
		/*width: 1700px;*/
	}
	
	
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

.main-navigation li a.active-menu{
	color: #FFFC00;
}
/*-------------------------------------------------------------
## Footer
---------------------------------------------------------------*/
.footer-content p{
	margin: 0;
}
